/* ------------- The extensions ---------------  */

/*

Primary-color:#6002ee; 


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  margin: 10px 0;
  border-radius: 100px;
  background-color: transparent;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  height: 5px;
  z-index: 9999;
  background-color: #6002ee;
  border: 0.5px solid rgb(211, 206, 206);
}
